.footer {
    background-color: #f8f9fa;
    padding: 10px 0; /* Adjust padding to match the header size */
    text-align: center;
    width: 100%;
  }
  
  .footer img {
    width: 24px; /* Adjust icon size */
    height: auto;
    margin: 0 5px;
  }
  