<div class="container mt-5">
    <h2>About Me</h2>
    <p>I am Samuel Kim (he/him), a 21 year old and I am a student at The University of British Columbia, passionate about software development and technology. I am currently seeking opportunities for my first internship!</p>
    <ul>
      <li>B.Sc. in Combined Major in Science (Computer Science Package), The University of British Columbia</li>
      <li>Proficient in Python, Java, C++, SQL/noSQL, and familiar with React, Angular, Django, Flask.</li>
      <li>Enthusiastic about full-stack development.</li>
      <li>Website was built with Angular and is still a work in progress.</li>
    </ul>
    <!-- If you have a professional photo, you can include it here -->
  </div>
  