<section id="projects" class="section">
  <div class="container">
    <h2 class="section-title">My Projects</h2>
    <div class="project-list">
      <div class="project-item" *ngFor="let project of projects">
        <div class="project-header" (click)="toggleProject(project)">
          <div class="d-flex align-items-center">
            <i class="bi {{ project.icon }} fs-2 me-3"></i>
            <h3 class="project-title mb-0">{{ project.title }}</h3>
          </div>
          <i
            class="bi"
            [ngClass]="{
              'bi-chevron-down': !project.expanded,
              'bi-chevron-up': project.expanded
            }"
          ></i>
        </div>
        <div class="project-content" [ngClass]="{ expanded: project.expanded }">
          <p class="project-description">{{ project.shortDescription }}</p>
          <h4>Key Features:</h4>
          <ul>
            <li *ngFor="let point of project.fullDescription">{{ point }}</li>
          </ul>
          <h4>Technologies Used:</h4>
          <div class="d-flex flex-wrap">
            <span
              *ngFor="let tech of project.technologies"
              class="badge bg-secondary me-2 mb-2"
              >{{ tech }}</span
            >
          </div>
          <div class="project-links mt-3">
            <a
              *ngIf="project.projectLink"
              [href]="project.projectLink"
              target="_blank"
              class="btn btn-outline-primary btn-sm me-2"
            >
              <i class="bi bi-link-45deg"></i> Demo
            </a>
            <a
              *ngIf="project.repoLink"
              [href]="project.repoLink"
              target="_blank"
              class="btn btn-outline-secondary btn-sm me-2"
            >
              <i class="bi bi-github"></i> Repo
            </a>
            <a
              *ngIf="project.documentationLink"
              [href]="project.documentationLink"
              target="_blank"
              class="btn btn-outline-secondary btn-sm"
            >
              <i class="bi bi-file-earmark-pdf"></i> Documentation
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
